#container{
    display: grid;
    grid-template-columns: 30% 45% 24%;
    grid-template-rows: 40% 55%;
    grid-row-gap: 10px;
    grid-column-gap: 8px;
    height: 960px;
}

.item {
    font-size: 4em;
    text-align: center;
    border: 1px solid #F1EFE5;
}

#pieDiv {
    background-color: #F1EFE5;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#detailDiv {
    background-color: #F1EFE5;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#mainDiv {
    background-color: #FFFFFF;
    /*text-align: center;*/
}

#dashboardDiv {
    background-color: #F1EFE5;
}