#dateChose {
    text-align: center;
    vertical-align: middle;
}

#overView li a {
    height: 65px;
    font-size: 18px;
    padding-top: 3px;
    /* padding-bottom: 25px; */
    margin-bottom: 7px;
}

#dateChose text, input{
    font-size: 24px;
}